/*
'zeraphine et tapioka artisanat' CSS BY AFFINITIC
*/
body{
background: rgb(181,189,200); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#wrapper{
width:1000px;
min-height:600px;
margin:auto;
margin-top:10px;
/*border-left:4px solid #f17a32;
border-right:4px solid #f17a32;*/
background-image:url(../images/fond.jpg);
border-radius: 25px;
}


#header-theme{
background-image:url(../images/header.png);
background-repeat:no-repeat;
height:277px;
border-radius:25px 25px 0px 0px;
}

#portal-logo-theme{
float:left;
margin-left:42px;
margin-top:10px;
}

#portal-logo-theme img{
border-radius:12px;
}

#portal-siteactions-theme{
position:relative;
top:8px;
left:180px;
}

#portal-siteactions-theme {
position: relative;
left: 180px;
top: 8px;
width: 469px;
/*border: 1px solid rgba(200,200,200,0.8);
border-radius:5px;*/
text-align:left;
}

#portal-siteactions-theme li{
margin:0px 6px;
}

#portal-siteactions-theme a{
color:#999;
font-size:0.7em;
}

#portal-siteactions-theme a:hover{
color:#eee;
}


#personal-tools-theme{
position:relative;
top:205px;
right:10px;
}

#portal-personaltools {
background-color:rgba(200,200,200,0.8);
border-radius: 0.5em;
float: right;
font-size: 80%;
padding: 0.25em 0.5em;
position: relative;
right: 0;
top: 0;
z-index: 3;
}

#left-column-theme{
float:left;
width:236px;
margin-left:13px;
background-color:rgba(82,77,76,0.6);
}
nav#left-column-theme dl.portlet.portletNavigationTree ul.navTree.navTreeLevel0 li a.state-published:link{
color:#ddd !important;
}

nav#left-column-theme dl.portlet.portletNavigationTree ul.navTree.navTreeLevel0 li a.state-published:hover{
color:#fff !important;
}

nav#left-column-theme li a.contenttype-folder {
background-image:none ;
}


#main-column-theme{
float:right;
width:72%;
margin-right:20px;
}

#main-column-large-theme{
float:none;
width:95%;
margin:auto;
}
